name: Flowstate CI 
on: 
  workflow_dispatch:
    inputs:
      solution-id:
        description: 'Flowstate Solution ID'
        required: true
        type: string
      organization:
        description: 'Flowstate Organization'
        required: true
        default: 'intrinsic@intrinsic-prod-us'
        type: string
      tool-version:
        description: 'Version of Intrinsic tools to use'
        required: false
        default: 'latest'
      vm-duration:
        description: 'Duration time (hours) for request the VM'
        required: false
        default: '1'
        type: string
      skill-list:
        description: 'Comma-separated list of skill targets to test'
        required: false
        default: '//skills/start_stopwatch:start_stopwatch_skill,//skills/stop_stopwatch:stop_stopwatch_py_skill'
      service-list:
        description: 'Comma-separated list of service targets to test'
        required: false
        default: '//services/stopwatch:stopwatch_service'
      asset-prefix:
        description: 'The namespace prefix for assets (e.g., com.example, ai.intrinsic)'
        required: false
        default: 'ai.intrinsic'


jobs:
  ci:
    runs-on: ubuntu-24.04
    env:
      INTRINSIC_ORGANIZATION: ${{ github.event.inputs.organization }}
      INTRINSIC_SOLUTION: ${{ github.event.inputs.solution-id }}
      INTRINSIC_API_KEY: ${{ secrets.INTRINSIC_API_KEY }}

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be  #v1.3.1
        with:
          tool-cache: verbose_failures
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8  #v0.15.0
        with:
         # Avoid downloading Bazel every time.
         bazelisk-cache: true
         # Store build cache per workflow.
         disk-cache: true
         # Cache external/ repositories
         external-cache: true
         # Share repository cache between workflows.
         repository-cache: true

      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1

      - name: Setup Intrinsic Tools
        uses: ./.github/actions/setup-intrinsic-tools
        with:
          version: ${{ github.event.inputs.tool-version }}

      - name: Authenticate to Intrinsic
        uses: ./.github/actions/auth-intrinsic
        with:
          api-key: ${{ env.INTRINSIC_API_KEY }}
          organization: ${{ env.INTRINSIC_ORGANIZATION }}
      
      - name: Build Targets
        uses: ./.github/actions/build-targets 
        with:
          skills: ${{ github.event.inputs.skill-list }}
          services: ${{ github.event.inputs.service-list }}  
      
      - name: Provision Solution and Register Teardown
        uses: ./.github/actions/start-solution
        with:
          organization: ${{ env.INTRINSIC_ORGANIZATION }}
          vm-duration: ${{ github.event.inputs.vm-duration }}
          solution-id: ${{ env.INTRINSIC_SOLUTION }}

      - name: Deploy Assets
        uses: ./.github/actions/deploy-assets
        with:
          organization: ${{ env.INTRINSIC_ORGANIZATION }}
          solution-id: ${{ env.INTRINSIC_SOLUTION }}
          skills: ${{ github.event.inputs.skill-list }}
          services: ${{ github.event.inputs.service-list }}
          asset-prefix: ${{ github.event.inputs.asset-prefix }}
      
      - name: Run SBL Test
        if: >-
          github.event.inputs.skill-list == '//skills/start_stopwatch:start_stopwatch_skill,//skills/stop_stopwatch:stop_stopwatch_py_skill' &&
          github.event.inputs.service-list == '//services/stopwatch:stopwatch_service'
        
        uses: ./.github/actions/run-sbl-test
        with:
          organization: ${{ env.INTRINSIC_ORGANIZATION }}
          solution-id: ${{ env.INTRINSIC_SOLUTION }}
          test-target: '//tests:sbl_ci' 
